body {
	font-size: 18px;
	font-family: Helvetica;
}

h1, h3 {
	text-transform: uppercase;
	color: white;
}

.header {
	display: inline-flex;
	background-color: black;
	justify-content: center;
	width: 100%;
	height: 2.82rem;
	position: fixed;
}

.logo-container {
	display: inline-flex;
	width: 960px;
	justify-content: flex-start;
	align-items: center;
}

.logo-container img {
	height: 1.5rem;
	padding-right: 1rem;
	padding-left: 0.5rem;
}

.site-name {
	display: flex;
	padding-top: 0.66rem;
	padding-bottom: 0.66rem
	font-size: 1rem;
}

.content-body {
	display: inline-flex;
	flex-direction: column;
	width: 100%;
	margin-top: 2.82rem;
}

.new-arrivals {
	display: flex;
	background: url(../../resources/images/moto.jpeg);
	width: 100%;
	height: 25rem;
	background-size: cover;
	background-repeat: no-repeat;
}

.arrivals-language {
	display: flex;
	background-color: black;
	flex-direction: column;
	height: 11rem;
	width: 20rem;
	padding-left: 3rem;
	margin-top: 9rem;
	font-weight: bold;
}

.arrivals-language h3 {
	font-size: 1rem;
	margin-top: 2rem;
}

.arrivals-language h1 {
	font-size: 2rem;
	margin-top: 0.25rem;
}


.nav {
	display: inline-flex;
	justify-content: space-around;
	background-color: firebrick;
	width: 100%;
	height: 2.82rem;
}

.nav-item {
	display: inline-flex;
	color: white;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}